{% extends 'base.html' %}

{% block title %}
  Change password
{% endblock %}

{% block content %}
  <h2>change password!</h2>
    {% if from.errors %}
      <p>there is sth wrong with what you entered!</p>
    {% endif %}

    {% if next %}
      <p>Hey you can access that page</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}

      {{ form.as_p }}

      <p><input type="submit" name="submit" value="change"></p>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
